/* Imported from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Light and dark theme styling */
* {
  font-family: 'Nunito';
  font-size: clamp(0.1rem, 2.5vw, 1rem);
}

body {
  width: 90%;
  margin: auto;

  /* Light Mode */
  --myBackGroundColor : #FAF9F6;
  --myTextColor: #282828;
  --myAccentColor : #17A2BB;
  --myNavBarColor: #d3d3d3;
  --myOnHoverColor: #bbbaba;
}

body.dark-mode {
  /* Dark Mode */
  --myBackGroundColor : #484644;
  --myTextColor: #FAF9F6;
  --myAccentColor : #fdbd39;
  --myNavBarColor: #282828;
  --myOnHoverColor: rgb(54, 54, 54);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --myBackGroundColor : #484644;
    --myTextColor: #FAF9F6;
    --myAccentColor : #fdbd39;
    --myNavBarColor: #282828;
    --myOnHoverColor: rgb(54, 54, 54);
  }
  body.light-mode {
    --myBackGroundColor : #FAF9F6;
    --myTextColor: #282828;
    --myAccentColor : #17A2BB;
    --myNavBarColor: #d3d3d3;
    --myOnHoverColor: #bbbaba;
  }
}

body {
  background: var(--myBackGroundColor);
}

h1, p {
  color : var(--myTextColor);
}

/*navbar styling*/
.header {
  background-color: var(--myNavBarColor);
  color: var(--myTextColor);

  top: 0;
  left: 0;
  right:0;

  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: center;
  z-index: 100;

  position: fixed;
}

.left-section {
  padding-left: 5rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.right-section {
  flex: 1;  
  display: flex;
  align-items: center;
  justify-content:right;
  flex-shrink: 1;
  padding-right: 5rem;
}

/* Calculator styling */
.button-grid {
  max-height: calc(100vh - 13rem);
  margin: auto;
  aspect-ratio: 5/2;
  display: grid;
  grid-template-rows: repeat(6,max-content);
  grid-template-columns: repeat(4,1fr);
  gap: clamp(0.75rem, 0.25vw, 1.5em);
}

div [class^="col"] {
  aspect-ratio: 4/1;
  border-style: none;
  border-radius: 8rem;
  background-color: var(--myNavBarColor);
  color: var(--myTextColor);
}

div [class^="col"]:hover {
  background-color: var(--myOnHoverColor);
  cursor: pointer;
}

.question-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5em;
  row-gap: 1.5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  background-color: var(--myBackGroundColor);  
}

#question {
  background-color: var(--myNavBarColor);
  color: var(--myTextColor);
  border-style: none;
  padding-left: 1em;
  aspect-ratio: 16/1;
  border-radius: 8em;
}

#error {
  /*Align text in the middle*/
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--myBackGroundColor);
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--myAccentColor);
  min-height: 1.5rem;
  
}

#clear {
  background-color: var(--myAccentColor);
}

/*icon styling*/
#icon {
  padding: 1em;
  border-radius: 2em;
  transition: box-shadow 0.3s ease;
}

#icon:hover {
  box-shadow: 0 0 5px var(--myBackGroundColor);
  cursor: pointer;
}